<div class="container">
    <p-button label="Movies" (click)="movieApi()" id="movies"></p-button>
    <p-button label="Webseries" (click)="webSeries()"></p-button>
    <p-iconField iconPosition="left">
        <input type="text" pInputText placeholder="Search" />
    </p-iconField>
</div>

<!-- Display Movies -->
@if(showMovies && movies.length) {
    <h2>Movies List</h2>
    <div class="container2">
        @for (item of movies; track item.id) {
            <div class="card">
                <h5>{{item.title}}</h5>
                <img [src]="'https://image.tmdb.org/t/p/w500' + item.poster_path" alt="Movie Poster" />
            </div>
        }     
    </div>
}

<!-- Display Web Series -->
@if(!showMovies && webseries.length) {
    <h2>Webseries List</h2>
    <div class="container2">
        @for (newitem of webseries; track newitem.genre_ids) {
            <div class="card">
                <img class="image" src="https://image.tmdb.org/t/p/w500{{newitem.poster_path}}" alt="{{newitem.name}}" />
                <p style="display: grid; justify-content: center;">{{newitem.name}}</p>
                <p style="display: grid; justify-content: center;">{{newitem.first_air_date}}</p>
            </div>
        }     
    </div>
}